<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button expand="block" size="large" shape="round" class="criar-btn" (click)="abrirCriarPlaylist()">
    <ion-icon name="add" slot="start"></ion-icon>
    Nova Playlist
  </ion-button>

  <div class="playlists-wrapper">
    <ion-card *ngFor="let playlist of playlists; let i = index" class="playlist-card">
      <ion-card-header>
        <ion-card-title>
          {{ playlist.nome }}
          <ion-button fill="clear" color="danger" size="small" class="delete-btn" (click)="removerPlaylist(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item *ngIf="playlist.filmes.length === 0" class="empty-list">
            <ion-label color="medium">Nenhum filme nesta lista.</ion-label>
          </ion-item>
          <ion-item *ngFor="let film of playlist.filmes; let j = index" class="film-item">
            <ion-label>{{ film.Title }}</ion-label>
            <ion-button fill="clear" color="danger" slot="end" size="small" (click)="removerFilmeDaPlaylist(i, j)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
