<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recomendacoes" [routerLink]="['/tabs/recomendacoes']">
      <ion-icon name="film"></ion-icon>
      <ion-label>Filmes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listas" [routerLink]="['/tabs/listas']">
      <ion-icon name="list"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" [routerLink]="['/tabs/perfil']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
